body{
    background-color:black;
}
.card {
    width: 500px;
    height: 700px;
    background-color: white;
    position: relative;
    margin:0 auto;
 

}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.top-left{
   display: flex;
   flex-direction:row;
   gap: 5px;

}
.top-left h1, h2 {
    margin: 0;
    color:red;

}
.image img {
   width: 500px;
   height: 400px;
   object-fit:cover;
   object-position: center;
    
}
.icons {display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
